 form input, form textarea{
    display: block;
}
body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,109,1) 30%, rgba(9,9,121,1) 35%, rgba(7,65,158,1) 53%, rgba(5,106,185,1) 66%, rgba(4,118,193,1) 70%, rgba(6,81,168,1) 91%, rgba(0,212,255,1) 100%);
}
form{
    width: 100%;
    max-width: 300px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgb(2,0,36);
}
/* .formular{
    align-items: center;
} */
input{
    width: 100%;
    max-width: 250px;
    display: inline-block;
    margin: 10px;
    border: black solid 2px;
}
textarea{
    width: 100%;
    max-width: 250px;
    display: inline-block;
    margin: 10px;
    resize: none;
    border: black solid 2px;

}
input:valid, textarea:valid{
    border-color: green;
}
input:invalid, textarea:invalid{
    border-color: red;
}