.container{
    float: left;
    border: 6px green solid;
    height: fit-content;
   
}
.blue{
   border: 2px blue solid;
   display: flex;
   gap: 50px;
   padding: 20px;
}
.photo{
    border: 3px red solid;
    float: right;
    width: 100%;
    max-width:350px ;
}